<div class="round-navigation">
  <button class="round-button prev" aria-label="Rodada Anterior">
    <svg
      width="24"
      height="24"
      xmlns="http://www.w3.org/2000/svg"
      fill="white"
      viewBox="0 0 24 24"
    >
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
    </svg>
  </button>

  <div class="round-title">
    <h2>{{panelTitle}}</h2>
    <h3 class="current-round">{{panelDescription}} {{currentRound}}</h3>
  </div>

  <button class="round-button next" aria-label="Próxima Rodada">
    <svg
      width="24"
      height="24"
      xmlns="http://www.w3.org/2000/svg"
      fill="white"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </button>

</div>