.match-list {
  width: 340px;
  margin: 0 auto;

  padding: 20px;

  border: 1px solid #e0e0e0;
  border-radius: 7px;
}

.match-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.match-item:last-child {
  border-bottom: none;
}

.team {
  display: flex;
  align-items: center;
}

.team-logo {
  width: 32px;
  height: 40px;
  margin-right: 10px;
}

.team-name {
  font-weight: bold;
  font-size: small;
}

.score {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-weight: bold;
}

.versus {
  margin: 0 10px;
  color: #888;
}
